.About{
    padding-top:80px ;
    padding-bottom: 80px;
    background-color: #f6f6f6;

}
.About-heading{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;

} 
.About-heading h2{
   font-size: 40px;
   font-weight: 900;
font-family:var(--font-primary);

} 
.about-content{
display: flex;
justify-content: space-evenly;
}

.about-img{
    width: 570px;
    height: 550px;
}

.about-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;

}
.about-mission{
    width: 415px;
}
.about-h1 h3{
margin-bottom: 24px;
font-weight: 700 !important;
color: #000;
}
.about-p p{
    line-height: 30px;
    color:gray;
    margin-bottom: 24px;
}
.about-list{
    color: gray;
    line-height: 35px;
    margin-bottom: 48px;
}

    

