
.Feedback-content{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
    padding-top: 80px;
    margin-bottom: 48px;
    margin-top: 48px;

}
.Feedback-image{
    width: 640px;
    height: 500px;
}
.feed-image{
max-width: 100%;
height: 100% ;
object-fit: cover;
}
.Feedback-text{
    width: 415px;
    height: 440px;
    margin-top: 48px;
}
.feed-img img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right:15px ;
}
.Feedback-card{
    border: 1px solid #eee;
    padding: 10px;
    border-left: 10px solid #4285f4 ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-content{
    display: flex;
    margin-bottom: 24px;
}
.card-heading{
    margin-right: 150px;
}
.feed-h1 h1{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #000;
    
}
.feed-p p{
    margin-bottom: 24px;
}

