.Contact{
    position: relative;
    min-width: 100vh;
    min-height: 125vh;
    background:linear-gradient(rgba(13, 109, 235, 0.7) , rgb(23, 223, 230,0.7) ),url("../../logo/computer.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 80px;
    padding-top: 80px;

}

.Contact-content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contact-h1 h1{
    position: relative;
    color: white;
    padding-bottom: 48px;
    z-index: 999;
}
.form-content{
    width: 650px;
    min-height: 720px;
    background-color: #ffffff;   
    opacity: 1;
    border-radius: 12px;
    position: relative;
    padding: 40px;
    z-index: 3;
}
.con-name{
    display: flex;
    justify-content: space-between;
    
}
.form-h2{
    padding-bottom: 48px;
}
.con-name input{
    width: 260px;
    height: 43px;
    padding: .375rem .75rem;
    font-size: 1rem;
}
.email{
    width: 100%;
    height: 43px;
    padding: .375rem .75rem;
    font-size: 1rem;
}
.message{
    box-sizing: border-box;
    width: 100%;
    min-height: 150px;
    height: 150px;
    padding: .375rem .75rem;
    font-size: 1rem;
}
input:focus, textarea:focus{
    outline: none;
    border: 2px solid #4285f4;

}
.f-button:hover{
box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
}

