.Footer{
padding: 48px 0 48px;
}
.Footer-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom:48px ;
}
.Footer-icon i{
    color: rgb(13, 110, 253);
    font-size: 20px;
}
.copyright{
    display: flex;
    justify-content: center;
}
.copyright i{
    color: rgb(220, 53, 59);
}