.Team-section{
    padding-top:80px ;
    padding-bottom:80px ;
}
.Team-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Team-h1 h1{
font-size: 40px;
font-weight: 900;
color: #000;
}
.Team-p p{
    width: 640px;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    color: gray;
}
.Team-card{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
.Team-person{
    width: 360px; 
    height: 560px; 
    margin-bottom: 48px;

}
.Team-person .Team-image{
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}
.team-img{
    width: 360px;
    height: 360px;
    background-color: gray;
    margin-bottom: 0%;
}
.team-img img{
    width: 360px;
    height: 360px;
}
.img-social{
    position: absolute;
    bottom: 0%;
    display: flex;
    gap: 20px;
    justify-content: center;
width: 100%;
background-color: #4285f4;
padding-bottom: 10px;
padding-top: 10px;
transform: translateY(100%);
    transition: .3s all ease;
    left: 0%;

}
.Team-person:hover .img-social{
    transform: translateY(0%);
}
.img-social i{
    color: white;
}
.card-h2{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-bottom: 8px;

}
.card-title{
    display: block;
    color: #4285f4;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 16px;
}

.card-p1 {
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
}
